{% extends "sohh.html" %}
{% block body %}
<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">category</th>
      <th scope="col">subcategory</th>
    </tr>
  </thead>
  

  <tbody>
    {%for i in product %}

    <tr>
      <th scope="row">{{i}}</th>
      <td>{{product.0.product_name}}</td>
      <td>{{product.0.category}}</td>
      <td>{{product.0.subcategory}}</td>
    </tr>
  {% endfor%}

  </tbody>
  
</table>
{% endblock body %}
